<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../public/styles/home.css" />
  <style>
    @font-face {
      font-family: "stardew";
      src: url(../public/fonts/stardew_valley/Stardew\ Valley\ ALL\ CAPS.ttf) format(truetype);
      font-weight: normal;
      font-style: normal;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <title>Stardew Gossip | Home</title>
</head>

<body>
  <header>

    <nav>
      <ul class="navbar-links">
        <li><a href="views/home.html">Home</a></li>
        <li><a href="../index.html">News</a></li>
      </ul>
    </nav>
    <div class="login-button">
      <a href="#login"><button><i class="fa-solid fa-user"></i></button></i></a>
    </div>
  </header>

  <main>
    <div class="main-container">
      <div class="home-content">
        <img src="../public/images/stardew-logo.png" alt="stardew-valley">
        <img src="../public/images/stardew-blog.png" alt="stardew-gossip">

        <div class="main-textbox">
          <p> Feito por fãs para fãs de Stardew Valley! Neste Blog você encontra os melhores guias, dicas, fofoquinhas
            do Vale do Orvalho e <span>muito mais! &#9825</span></p>
          </p>
        </div>
        <div class="learn-more">
          <a href="../index.html"><button>Saiba Mais!</button></a>
        </div>
      </div>
    </div>
  </main>

</body>
</html>